body {
    background: url("../images/weatherSSF.png");
    background-size: cover;
    /* background-repeat: no-repeat; */

}

.pink {
    color: pink
}

.white {
    color: white;
}

.black{
    color: black;
}

/* .specHeight {
    height: 100vh;
} */

ul#menu li {
    display:inline;
  }